<div class="form-container">

  <form class="sign-up-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)" novalidate>

    <mat-card *ngIf="!submitted">

      <mat-card-header>
        <mat-card-title>Create a new account</mat-card-title>
        <mat-card-subtitle>Sign up to create a new account using the form below.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="First Name" required>
          <mat-error *ngIf="formErrorMessages.firstName">
            {{formErrorMessages.firstName}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Last Name" required>
          <mat-error *ngIf="formErrorMessages.lastName">
            {{formErrorMessages.lastName}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="user@domain.com" required>
          <mat-error *ngIf="formErrorMessages.email">
            {{formErrorMessages.email}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" [type]="showPassword ? 'text' : 'password'" required>
          <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="formErrorMessages.password">
            {{formErrorMessages.password}}
          </mat-error>

        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid || this.submitted">Sign Up</button>
      </mat-card-actions>
      <mat-error *ngIf="submitError">
        {{submitError}}
      </mat-error>

    </mat-card>

    <mat-card *ngIf="submitted">
      <mat-card-header>
        <mat-card-title>Thanks for signing up!</mat-card-title>
        <mat-card-subtitle>Please check your mailbox and confirm your e-mail address</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="gif"></div>
      </mat-card-content>
    </mat-card>
  </form>

</div>
